{% load static %}
<section class="campus">
    <h1>Ma'muriyat</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque, culpa!</p>

    <div class="row">

        <div class="zakovat">
            <img src="{% static 'blog/img/pedagog.jpg' %}">
            <div class="layer">
                <h3>PEDAGOGIK KENGASH</h3>
            </div>
        </div>

        <div class="zakovat">
            <img src="{% static 'blog/img/kutubxona.jpg' %}" alt="kitob">
            <div class="layer">
                <h3>AXBOROT-RESURS MARKAZI</h3>
            </div>
        </div>

        <div class="zakovat">
            <img src="{% static 'blog/img/ustaxona.png' %}" alt="kitob">
            <div class="layer">
                <h3>AMALIYOT - USTAXONALARI</h3>
            </div>
        </div>
    </div>
</section>