<section class="news">
    <h1>Hafta yangiliklari</h1>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. In cumque earum deserunt culpa dolore.
        Accusantium dignissimos corporis harum iure quas. Incidunt impedit, odio error id nam officia
        inventore sit doloribus!
    </p>
    <div class="row">

        <div class="zakovat">
            <h3>"Zakovat" intellektual o'yini o'tkazildi</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse, quisquam.

            </p>
        </div>

        <div class="zakovat">
            <h3>"Ochiq dars o'tkazildi"</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fugiat!

            </p>
        </div>
        <div class="zakovat">
            <h3>"QVZ" tadbiri o'tkazildi</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, fugiat!

            </p>
        </div>
    </div>
</section>