<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baxmal tuman 1- khm</title>
    {% include 'components/_links.html' %}

</head>
<body onpageshow="showbox()">
{% include 'components/_navbar.html' %}

{% block main %}

{% endblock main %}


{% include 'components/_footer.html' %}

{% include 'components/_scripts.html' %}


</body>
</html>