<section class="footer">
    <h4>Biz haqimizda</h4>
    <p><i class="fa fa-map-marker" aria-hidden="true"></i>
        Baxmal tumani, O'smat shahri, H.Olimjon ko'chasi 43-uy
    </p>
    <p> <i class="fa fa-phone" aria-hidden="true"></i>
        +998724121063   +998881270087
    </p>

    <div class="icons">
        <i class="fa fa-facebook"></i>
        <i class="fa fa-twitter"></i>
        <i class="fa fa-instagram"></i>
        <i class="fa fa-linkedin"></i>
    </div>
    <p>Muallif<i class="fa fa-heart-o"></i>Baxmal tuman raqamli texnologiyalar o'quv markazi</p>
</section>
